<ion-content class="ion-padding">
    <h1>Change password</h1>
    <h3>Can't remember? Reset your password here.</h3>
  
    <form>

      <ion-item class="box">
        <ion-input type="password" placeholder="New password" required></ion-input>
      </ion-item>

      <ion-item class="box">
        <ion-input type="password" placeholder="Confirm password" required></ion-input>
      </ion-item>
      
      <ion-button class="forgot-button" expand="block" type="submit">
       Change password
      </ion-button>

      <ion-button class="forgot2-button" expand="block" type="submit">
        Cancel
      </ion-button>
    </form>
    
  </ion-content>
  