.messages-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
}

.message-container {
  display: flex; 
  align-items: flex-start; 
  margin-bottom: 5px; 
}

.avatar {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px; 
  margin-top: 5px;
}

.message-bubble {
  max-width: 70%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 20px; 
  margin-bottom: 10px;
  position: relative;
  margin-top: 5px;
}

.user-message {
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 15px;
  align-self: flex-end; 
  margin-left: auto;
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 0; 
}

.admin-message {
  background-color: var(--ion-color-light);
  font-size: 15px;
  align-self: flex-start; 
}

.timestamp {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

ion-content {
  --padding-bottom: 0; 
}

.message-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--ion-color-light);
}

ion-input {
  flex-grow: 1;
  margin-right: 10px;
  --padding-start: 10px;
  font-size: 15px;
}

.message-input-container ion-input {
  color: inherit; 
}

.message-input-container ion-input::ng-deep .native-input {
  caret-color: var(--ion-color-primary); 
}

.message-input-container ion-input {
  --border-color: var(--ion-color-primary); 
  --box-shadow: none;
  --highlight-color: var(--ion-color-primary); 
}

.message-input-container ion-input:focus {
  --border-color: var(--ion-color-primary); 
  --box-shadow: none; 
}

.admin-avatar{
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-left: 10px; 
}

.user-avatar {
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}