<ion-content class="ion-padding">

    <div id="app-bar" class="no-padding">
      <ion-back-button defaultHref="/signup1" icon="arrow-back-outline" slot="start"></ion-back-button>
    </div>
  
    <h1>Sign up</h1>
    <h3>We are happy to have you here.</h3>
  
    <ion-button class="google" expand="block">
      <img src="../../../assets/images/google.png" alt="Google Logo" style="width: 24px; height: 24px; margin-right: 8px;">
      Sign in with Google
    </ion-button>
  
    <div class="line-text">
      <span class="lines"></span>
      <span class="text"> or connect using</span>
    </div>
  
    <form>
      <ion-item class="box">
        <ion-input type="email" placeholder="Phone number" required></ion-input>
      </ion-item>
  
      <ion-item class="box">
        <ion-input type="email" placeholder="Email" required></ion-input>
      </ion-item>
  
      <ion-item class="box">
        <ion-input type="password" placeholder="Password" required></ion-input>
      </ion-item>

      <ion-item class="box">
        <ion-input type="password" placeholder="Confirm password" required></ion-input>
      </ion-item>
  
      <ion-button class="auth-button" expand="block" type="submit" (click)="navigateToOnboarding()">
        Sign up
      </ion-button>

      <p class="footer-text">Already have an account?<a routerLink="#">Login</a></p>
      <p class="term-text">
        I agree to all statements in the <br>
        <a (click)="navigateToTermcons1()" class="term-link">Terms of Use and Privacy Policy?</a>
        <ion-checkbox slot="end" (click)="navigateToTermcons1()"></ion-checkbox>
      </p>
    </form>
  </ion-content>
  