ion-content {
    --background: #f3f4f6; 
}

.faq-item {
    --background: transparent;
    margin: 5px 16px;
    margin-top: 5px !important;
    margin-bottom: 20px;
    border: none;
    padding-top: 3px;
}

h3 {
    font-size: 19px;
    font-weight: 700;
    color: black;
    margin-top: 0 !important;
}

p {
    font-size: 15px;
    color: #333333;
    line-height: 1.6;
    text-align: justify;
}

a {
    color: #0091ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
