<ion-content>
  <ion-card class="about">
    <img src="../../../assets/images/abouts.png" class="image" />
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nativity's Stray Animals Rescue Shelter is a non-profit organization located in Puerto Princesa City, Palawan. The shelter helps adopters find new families for stray cats and dogs.
    </ion-card-content>
  </ion-card>

  <div class="centered-text1">
    <h2>Mission & Vision</h2>
  </div>

  <div class="article-container">
    <div class="resource-card">
      <img src="../../../assets/images/events2.png" class="resource-image" />
      <div class="resource-content">
        <p class="resource-description1">
          Mission: Our mission is to rescue, rehabilitate, and rehome stray and rescued animals, ensuring their health through awareness, advocacy, and government animal welfare services.
        </p>
      </div>
    </div>
  </div>

  <div class="article-container">
    <div class="resource-card">
      <img src="../../../assets/images/events1.png" class="resource-image" />
      <div class="resource-content">
        <p class="resource-description1">
          Vision: Our vision is to create a humane and compassionate future for every rescued animal.
        </p>
      </div>
    </div>
  </div>

  <!-- Services Section -->
  <section class="centered-text">
    <h2>Our Services</h2>
  </section>

  <!-- Pet Category Cards Section -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- Adopt Pet Card -->
      <ion-col size="6">
        <ion-card class="card-links">
          <ion-card-content class="card-content">
            <ion-icon name="paw-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">Adopt Pet</h5>
            <p>The Adopt Pet tab streamlines the adoption process.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Donation Card -->
      <ion-col size="6">
        <ion-card class="card-links">
          <ion-card-content class="card-content">
            <ion-icon name="heart-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">Donation</h5>
            <p>The Donation direct contributions to support the shelter.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Lost & Found Card -->
      <ion-col size="6">
        <ion-card class="card-links">
          <ion-card-content class="card-content">
            <ion-icon name="alert-circle-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">Lost & Found</h5>
            <p>Helps users post and search for lost pets.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- PetCare Card -->
      <ion-col size="6">
        <ion-card class="card-link">
          <ion-card-content class="card-content">
            <ion-icon name="medkit-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">Pet Care</h5>
            <p>The Pet Care serves as an educational resource.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Events Card -->
      <ion-col size="6">
        <ion-card class="card-link">
          <ion-card-content class="card-content">
            <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">Events</h5>
            <p>It updates users on upcoming shelter events.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- About Us Card -->
      <ion-col size="6">
        <ion-card class="card-link">
          <ion-card-content class="card-content">
            <ion-icon name="information-circle-outline" class="card-icon"></ion-icon>
            <h5 class="card-title">About Us</h5>
            <p>Outline the purpose and mission of the shelter.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

   <!-- Services Section -->
   <section class="centered-text">
    <h2>Our Team</h2>
  </section>

  <ion-card class="team">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Team1" src="../../../assets/images/team/team1.png" />
          </ion-thumbnail>
          <ion-label>
            <div>
              <span>Ma. Carina Cervantes</span>
              <p>Owner</p>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Team2" src="../../../assets/images/team/team2.png" />
          </ion-thumbnail>
          <ion-label>
            <div>
              <span>Mark Joseph Liray</span>
              <p>Co-Owner</p>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Team3" src="../../../assets/images/team/team3.png" />
          </ion-thumbnail>
          <ion-label>
            <div>
              <span>Ma. Carina Cervantes</span>
              <p>Owner</p>
            </div>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Team4" src="../../../assets/images/team/team4.png" />
          </ion-thumbnail>
          <ion-label>
            <div>
              <span>Ma. Carina Cervantes</span>
              <p>Owner</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
