<ion-content class="color">
    <div id="header">
      <div id="logo">
        <h2>Pet Customization Questionnaire</h2>
        <ion-label>
          <p>Please answer the following questions <br> to help us personalize your pet dashboard.</p>
        </ion-label>
        <ion-label position="stacked"class="question">1. What type of pet do you prefer?</ion-label>
        <ion-radio-group>
          <ion-item>
            <ion-label>Dog</ion-label>
            <ion-radio slot="start" value="female"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Cat</ion-label>
            <ion-radio slot="start" value="male"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Both</ion-label>
            <ion-radio slot="start" value="both"></ion-radio>
          </ion-item>
        </ion-radio-group>
        
        <ion-label position="stacked" class="question">2. What kind of gender do you prefer?</ion-label>
            <ion-radio-group>
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="female"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio slot="start" value="male"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Both</ion-label>
                <ion-radio slot="start" value="both"></ion-radio>
              </ion-item>
            </ion-radio-group>
        
        <ion-label position="stacked" class="question">3. What age categories do you prefer?</ion-label>
            <ion-radio-group>
              <ion-item>
                <ion-label>Senior</ion-label>
                <ion-radio slot="start" value="senior"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Adult</ion-label>
                <ion-radio slot="start" value="adult"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Puppy/kitten</ion-label>
                <ion-radio slot="start" value="puppy"></ion-radio>
              </ion-item>
            </ion-radio-group>

        <ion-label position="stacked" class="question">4. What kind of size do you prefer?</ion-label>
            <ion-radio-group>
              <ion-item>
                <ion-label>Small</ion-label>
                <ion-radio slot="start" value="small"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Medium</ion-label>
                <ion-radio slot="start" value="medium"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Large</ion-label>
                <ion-radio slot="start" value="large"></ion-radio>
              </ion-item>
            </ion-radio-group>
        
        <ion-button class="submit" expand="block" (click)="navigateToHome()">Submit</ion-button>
      </div>
    </div>
  </ion-content>
  