<ion-content class="ion-padding">
    <h1>Forgot password</h1>
    <h3>Can't remember? Reset your password here.</h3>
  
  

  
    <form>
      <ion-item class="box">
        <ion-input type="email" placeholder="Email address" required></ion-input>
      </ion-item>
    
      <p class="forgotpass">
        Please enter your email in the box above. We will send you a link to access further instructions.
      </p>
      
    
      <ion-button class="forgot-button" expand="block" type="submit" (click)="navigateToForgotpass2()">
        Reset password
      </ion-button>

      <ion-button class="forgot2-button" expand="block" type="submit">
        Back to login
      </ion-button>
    </form>
    
  </ion-content>
  