
/* Avatar styles */
.avatar-icon {
  width: 50px; /*Avatar Size */
  height: 50px;
  cursor: pointer;
  margin-left: 15px;
}

.ion-avatar img {
  border: 4px solid #fdb849; /* Border on Avatar */
  border-radius: 50%; /* Circle */
  object-fit: cover;
  width: 60px; /* Size for avatar*/
  height: 60px;
}

/* Profile Name and Email in Menu */
.ion-label {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333; 
  margin-left: 15px;
  margin-top: 10px;
  text-align: left;
}

.ion-label p {
  font-size: 0.8rem;
  font-weight: normal;
  color: #777; 
}

/* Notification icon style */
.notification-icon {
  font-size: 22px !important;
  margin-right: 15px;
  color: white;
}

ion-menu {
  overflow: hidden;
}

.menu-header-bg {
  height: 200px;
  width: 350px;
  background: #652E89;
  box-shadow: 0px 1px 10px rgba(210, 98, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #48106d;
    margin-right: 14px;
  }

  h2 {
    font-weight: 500;
    color: white;
    font-size: 16px;
  }

  p {
    font-weight: 500;
    color: #e4e4e4;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
}

.menu-items {
  margin: 0px;
  font-family: "Gilroy";

  ion-icon {
    margin-right: 20px;
    color: #652E89;

  }

  ion-label {
    font-family: "Gilroy";
  }

  ion-item {
    margin-bottom: 10px;
    padding-left: 5px;
  }

  .active {
    border-left: 5px solid;
    color: #652E89;
    padding-left: 5px;

    ion-icon {
      color: #652E89;
    }
  }
}

ion-header {
  ion-toolbar {
   background: transparent;
  }
}

.search-container {
  padding-right: 12px; /* Adjust padding as needed */
}

.custom-search {
  --background: #f0f0f08e; /* Background color */
  --border-radius: 15px; /* Rounded corners */
  --padding-start: 16px; /* Left padding */
  --padding-end: 16px; /* Right padding */
  --color: #333; /* Input text color */
  

  margin-top: 10px;
}

ion-title {
  font-weight: 640;
  text-align: center;
}


ion-tabs {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

ion-tab-bar {
  height: 60px; /* Set the height for the tab bar */
}

ion-tab-button {
  --color-selected: #fff; /* Color for the selected tab icon and label */
  --color: rgba(255, 255, 255, 0.7); /* Color for unselected tab icon and label */
  font-size: 11px; /* Font size for tab labels */
  font-weight: 1000;
  display: flex; /* Aligns items in a row */
  flex-direction: column; /* Arranges icon and label in a column */
  align-items: center; /* Centers content horizontally */
  height: 100%; /* Ensures button fills the entire height of the tab bar */
  padding: 0; /* Remove default padding to maintain consistent size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

ion-tab-button ion-icon {
  font-size: 24px; /* Size of the icons */
  margin-bottom: 6px; /* Space between the icon and the label */
}

ion-tab-button:hover {
  background-color: #e29824; /* Background color on hover */
  font-weight: 550;
}

/* Optional: Style for active tab */
ion-tab-button.tab-selected {
  background-color: #e29824; /* Background color for the selected tab */
  color: #652E89 !important;
}